.app__header {
  grid-area: header;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav > a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.header__nav > a::before {
  content: "";
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 0.3rem;
}

.header__nav__calendar::before {
  background-image: url(/icons/calendar-alt-regular.svg);
}

.header__nav__clients::before {
  background-image: url(/icons/smile-regular.svg);
}

.header__nav__staff::before {
  background-image: url(/icons/users-solid.svg);
}

.header__nav__item--active {
  background-color: #EBA31E;
  font-weight: 600;
}

.header__utils {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-column-gap: 2rem;
}

.header__utils .dropdown {
  color: #FFF;
}

.app__header .text-box {
  background-color: #ADA2DF;
  border-color: #ADA2DF;
  transition: background-color 100ms linear;
}

.app__header .text-box__container {
  width: 200px;
}

.app__header .text-box:focus {
  background-color: #FFF;
  box-shadow: none;
}