.app__right-pane__controls {
  display: flex;
  justify-content: flex-end;
}

.appointment__calendar-icon {
  width: 18px;
  height: 18px;
}

.appointment__calendar-icon path {
  fill: var(--font-color);
}

.app__right-pane__h {
  margin-top: 3rem;
}

/* must be more specific to override */
.app__right-pane .grid-col-2:first-child .app__right-pane__h {
  margin-top: 0px;
}

.typeahead__full-name {
  width: auto;
}

.typeahead__full-name input:disabled {
  background-color: transparent;
  border: none;
  font-weight: bold;
  padding: 0;
}

.typeahead__full-name .text-box__suffix {
  right: 0;
}

.icon__edit-full-name {
  fill: var(--font-color);
}
