.dots-icon {
  opacity: 0;
  transition: opacity var(--hover-transition-duration) ease-in-out;
}

.work-calendar__week .appointment:hover .dots-icon {
  opacity: 0.6;
}

.appointment-client {
  margin-left: 1rem;
}
