html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  color: var(--font-color);
}

#root {
  height: 100vh;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
