:root {
  --color-primary: #7764ca;
  --font-color: #636363;
  --font-color-secondary: #c1c1c1;
  --color-highlight: #eba31e;
  --color-bg: #fafafa;
  --color-bg-secondary: #eeeeee;
  --border-color: #e2e2e7;
  --hover-transition-duration: 150ms;
  --z-index-popover: 100;
  --control-height: 3rem;
  --control-border-radius: 3px;
  --control-disabled: #cccccc;
}
