.welcome-modal {
  width: 700px;
  height: 400px;

  display: grid;
  grid-template-columns: 50% 50%;

  &__left,
  &__right {
    padding: 4rem;
  }

  &__left {
    background-color: #f0f4f8;
  }

  p {
    line-height: 2rem;
    padding-top: 4rem;
  }

  ul {
    padding-top: 2rem;
    line-height: 2.2rem;
    overflow: visible;

    li {
      background-image: url('/icons/icon-check.svg');
      background-repeat: no-repeat;
      padding-left: 30px;
      margin-bottom: 1.5rem;
    }
  }
}
