.calendar {
  display: grid;
  grid-template-areas:
    'month'
    'weeks';
}

.calendar__month {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  grid-gap: 2rem;
  margin: 0 0 2rem 0;
  grid-area: month;
}

.calendar__weeks {
  display: grid;
  grid-area: weeks;
  grid-row-gap: 0.5rem;
}

.calendar__week {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(8, 1fr);
}

.calendar__week__name {
  color: var(--font-color-secondary);
  margin-bottom: 5px;
  width: 3rem;
  height: 2rem;
  display: grid;
  align-items: center;
  justify-items: center;
}

.calendar__week__name:first-child {
  grid-column: 2 / span 1;
}

.calendar__week__num {
  color: var(--font-color-secondary);
  font-size: 1rem;
}

.calendar__month__title {
  font-size: 2rem;
}

.calendar__day__name {
  display: grid;
  align-items: center;
  justify-content: center;
  color: var(--font-color-secondary);
}

.calendar__week__day {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 2rem;
}

.calendar__day--today {
  border-radius: 50%;
  background-color: var(--color-highlight);
  color: #fff;
  width: 2.8rem;
  height: 2.8rem;
}

.calendar__day--another-month {
  color: var(--font-color-secondary);
}

.calendar__week--current {
  background-color: rgba(235, 163, 30, 0.1);
  border: 1px solid rgba(235, 163, 30, 0.2);
  height: calc(2rem - 2px);
  border-radius: 3px;
  overflow: visible;
}

.calendar__week--current .calendar__week__day,
.calendar__week--current .calendar__week__num {
  transform: translateY(calc(-0.4rem - 1px));
}
