.text-box__container {
  position: relative;
  height: calc(2.5rem + 4px);
}

.text-box {
  position: absolute;
  border: 1px solid var(--border-color);
  border-radius: var(--control-border-radius);
  font-size: 1.5rem;
  height: var(--control-height);
  line-height: var(--control-height);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: var(--font-color);
  transition: box-shadow 100ms linear;
  width: 100%;
}

.text-box:disabled {
  background-color: hsl(0, 0%, 95%);
}

.text-box:focus {
  box-shadow: 0 0 2pt 0pt var(--color-highlight);
  outline: none;
}

.text-box__suffix {
  position: absolute;
  right: 0.5rem;
  height: calc(2.5rem + 4px);
  display: flex;
  align-items: center;
}
