.btn {
  background: var(--color-primary);
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: var(--control-border-radius);
  height: var(--control-height);
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  transition: background-color var(--hover-transition-duration) ease-in-out;
}

.btn:hover {
  background-color: #5db4f2;
}

.btn--secondary {
  background-color: transparent;
  border-color: var(--color-primary);
  color: var(--color-primary);
  font-weight: 300;
}

.btn--secondary:hover {
  background-color: var(--color-bg-secondary);
}
