.btn {
  background: var(--color-primary);
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 3px;
  color: #FFF;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  transition: background-color 100ms linear;
}

.btn:hover {
  background-color: #5DB4F2;
}

.btn--secondary {
  background-color: transparent;
  border-color: var(--color-primary);
  color: var(--color-primary);
  font-weight: 300;
}

.btn--secondary:hover {
  background-color: #5DB4F233;
}