.field-container {
  position: relative;
}

.invalid-field input {
  border-color: #ff3f26;
}

.field-container__message {
  position: absolute;
  color: #ff3f26;
  font-size: 1.2rem;
  line-height: 1.7rem;
  right: 0px;
  top: -1.8rem;
}
