.list-view__item {
  min-height: 4rem;
  display: flex;
  flex-grow: 1;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.2);
  align-items: center;
  padding: 0 2rem;
}

.list-view__item--selected {
  border-color: var(--color-highlight);
}
